.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb
*.cache
*.log
*.nupkg
packages/
*.snupkg
.nuget/
.idea/
*.sln.iml
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp
*.bak
*.swp
*.sublime-workspace
*.sublime-project
messages.json
settings.json